.navParent {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 15px 0;
    overflow: hidden;
    padding: 0 5%;
    user-select: none;
    z-index: 1000;
}

.navChild {
    align-items: center;
    display: flex;
    width: 100%;
    line-height: 55px;
}

.navLeft {
    justify-content: left;
    gap: 10px;
}

.navTopper {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    transition: all 0.2s;
}

.navTopper:hover {
    opacity: 0.7;
}

.navIcon {
    width: 40px;
    height: 40px;
    background-position: center;
}

.navRight {
    justify-content: right;
}

.normalNavTopLink {
    padding: 0 20px;
    transition: all 0.2s;
    height: 100%;
    text-transform: capitalize;
}

.normalNavTopLink:hover {
    background: var(--secondary);
}

.normalNavTopLink:active {
    background: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px 0;
    opacity: 0.7;
}

.buttonNavTopLink {
    line-height: initial;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 0 8px;
    transition: all 0.2s;
    text-transform: capitalize;
    background: var(--secondary);
}

.buttonNavTopLink:hover {
    opacity: 0.7;
}

.buttonNavTopLink:active {
    opacity: 0.7;
}

.coloredButtonNavTopLink {
    line-height: initial;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 0 8px;
    transition: all 0.2s;
    text-transform: capitalize;
    background: var(--main);
}

.coloredButtonNavTopLink:hover {
    opacity: 0.7;
}

.coloredButtonNavTopLink:active {
    opacity: 0.7;
}